*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas{
  width: 100%;
  border: 1px solid black;
  background: url(bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  color: #0a0a1e
}